:root {
    --titulos: #0A1626;
    --subtitulos: #023859;
    --fundos: #064654;
    --select: #00657c;
    
}

#subtabela form { /* Filtro por Data */
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    
}

#subtabela form input {
    border: none;
    margin-right: 15px;
    font-size: 13px;
    padding: 2px;
    height: 70%;
    border-radius: 3px;
}

#subtabela a { /* Botoes Alem do Filtro */
    margin-right: 15px;
}


/* Tabela */
table {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    
}

table th, table td {
    
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
}


table th {
    background-color: var(--titulos);
    color: white;
    padding: 5px;
}



td form button {
    all: unset;
    width: 100%;
    height: 100%;
    
}

#inserir-verde{
    background-color: rgba(1, 145, 1, 0.896);

}

#inserir-verde a{
    display: block;
    height: 100%;
    width: 100%;
    
    
}

#inserir-verde:hover{
    background-color: green;
    transition: 0.2s ease;
}

#X{
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
}

#X:hover{
    background-color: red;
    color: white;
}

table tr:first-child { /*Fixar no Topo a Primeira Linha da Tabela */
    position: sticky;
    top: -1;
}

::-webkit-scrollbar{
    width: 8px;

}

::-webkit-scrollbar-thumb{
    background-color: var(--select);
    border-radius: 5px;
   
}
/* Conteudo Apenas os dados da Tabela */
#tabela-dados {
    width: 100%;
    height: 75%;
    overflow: auto;
}


/* Div do Valor Total */
#valor-total {
    display: flex;
    width: 100%;
    background-color: var(--titulos);
    color: white;
    justify-content: flex-end;
    align-items: center;
    height: 5%;
}

#valor-total p {
    margin-right: 10px;
}

/* Formulario de Inserção de Dados */
#formulario-registro {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 16%;
    flex-wrap: wrap;
}

#formulario-registro form label,
#formulario-registro form label,
#formulario-registro form input,
#formulario-registro form button {
    padding: 10px;
}

/* Div Conteudo da Flash Mensage */
.flash-message{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   width: 100%;
   height: 4%;
   animation: fadeOut 3s forwards;
   
   
}

@keyframes fadeOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
  }

  