:root {
    --titulos: #0A1626;
    --subtitulos: #023859;
    --fundos: #064654;
    --select: #00657c;
    
}

#subtabela form {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

#subtabela form input {
    border: none;
    margin-right: 15px;
    font-size: 13px;
    
    padding: 2px;
    height: 70%;
    border-radius: 3px;

}

#subtabela a {
    margin-right: 15px;
}

table {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

table th,
table td {
    padding: 5px;
    text-align: center;
    
}



table th {
    background-color: var(--titulos);
    color: white;
    
}


tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
}

table tr:first-child {
    position: sticky;
    top: 0;

}

#tabela-dados {
    width: 100%;
    height: 75%;
    overflow: auto;
}

td form button {
    all: unset;
    width: 100%;
    height: 100%;
}

#valor-total {
    display: flex;
    width: 100%;
    background-color: var(--titulos);
    color: white;
    justify-content: flex-end;
    align-items: center;
    height: 5%;
}

#formulario-registro {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 16%;
    flex-wrap: wrap;
}

#formulario-registro label,
#formulario-registro label,
#formulario-registro input,
#formulario-registro button {
    padding: 10px;
}

#valor-total p {
    margin-right: 10px;
}

.flash-message{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   width: 100%;
   height: 4%;
   animation: fadeOut 3s forwards;
   
   
}

@keyframes fadeOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
  }

  